@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* One column by default */
  gap: 10px; /* Space between grid items */
  max-width: 900px;
  margin: auto;
}

.content {
  display: grid;
  grid-template-columns: span 1;
  gap: 5px;
  align-items: start;
}

.content1,
.content2 {
  grid-column: span 2;
  text-align: center;
}

.description {
  grid-column: span 2;
  text-align: justify;
}

.ul {
  list-style-type: disc;
  font-size: 20px;
  padding-left: 30px;
  grid-column: span 2; /* Ensures list spans full width */
}

@media (max-width: 768px) {
  .content {
    grid-template-columns: 1fr; /* Switch to single-column on smaller screens */
  }
}
