@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

.aboutContainer {
  display: grid;
  grid-template-columns: minmax(300px, 1fr);
  max-width: 1200px;
  color: #3b3a30;
}

.content1 {
  grid-column: 1 / 2;
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.description {
  grid-column: 2 / 3;
  font-size: 18px;
  margin: 30%;
  line-height: 1.6;
  color: #666;
}

.content2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 50px;
  color: #333;
}

.list {
  list-style-type: disc;
  font-size: 18px;
  margin-top: 10px;
  color: #444;
}
