/* body {
  font-family: "Inter" sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
} */

h1 {
  font-size: 2rem;
  color: #333;
  text-align: left;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 1.5rem;
  color: #666;
  text-align: center;
  margin-bottom: 0.7rem;
}

.container {
  max-width: 800px;
  background: #fff;
  margin: 2rem auto;
}
