@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

body {
  font-family: "Inter";
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #ead8b1;
}

input {
  padding: 0.8rem 0.3rem;
  border-radius: 5px;
  background-color: #e5d9f2;
}

input[type="radio"] {
  transform: scale(2.5); /* Adjust this value as needed */
  margin-right: 1rem;
  margin-bottom: 1rem;
}
/* input::not([type="radio"]):hover */

input:hover {
  box-shadow: 3px 3px 5px rgb(197, 194, 194);
}
/* box-shadow: 3px 3px 5px #f4e096;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
 
a {
  color: inherit;
  text-decoration: none;
} 

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}*/
