.contact-form {
  background-color: blue;
  border: 2px solid tomato;
  width: 500px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
