.eventDisplayBoxAdmin,
.eventDisplayHeadingBoxAdmin {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 0.3rem;
  padding: 0.5rem;
  padding-top: 0.8rem;
  text-align: center;
  max-width: 75%;
  border: 1px solid #111517;
  margin: 0 auto;
}
.eventDisplayHeadingBoxAdmin {
  color: #a8a2a2;
  background-color: #f0f0f0;
  font-weight: 300;
  margin-top: 1.2rem;
}

.eventDisplayBoxAdmin:nth-child(even) {
  background-color: #a8a2a2;
}
.eventDisplayBoxAdmin:nth-child(odd) {
  background-color: #d3d3d3;
}

.eventDisplayBoxAdmin button {
  background-color: #c8afbe;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  margin-left: 5px;
  border: 1px solid rgb(43, 41, 41);
  border-radius: 10px;
  cursor: pointer;
  max-width: 80%;
}
.eventDisplayBoxAdmin button:hover {
  background-color: rgb(62, 86, 165);
  color: white;
  opacity: 0.8;
}
@media (max-width: 768px) {
  .eventDisplayBoxAdmin,
  .eventDisplayHeadingBoxAdmin {
    font-size: 1rem;
    place-items: center;
  }
}
