.eventDisplayBox,
.eventDisplayHeadingBox {
  margin: auto;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.5rem;
  padding: 0.5rem;
  padding-top: 0.8rem;
  text-align: center;
  max-width: 50%;
}
.eventDisplayHeadingBox {
  background-color: #f0f0f0;
  font-weight: bold;
}
.eventDisplayBox:nth-child(even) {
  background-color: #a8a2a2;
}
.eventDisplayBox:nth-child(odd) {
  background-color: #d3d3d3;
}
