.event-registration {
  color: tomato;
  display: flex;
  flex-direction: column;
}
fieldset {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin: 0 auto;
}
legend {
  margin-bottom: 2rem;
}
