@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

footer {
  font-family: "Inter", sans-serif;
  position: relative;
  /* z-index: -2; Brings header content above the overlay */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: white;
  padding: 20px;
}

.leftside-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 7%;
}

.footerverse {
  font-family: serif;
  font-style: italic;
  width: 100%;
  margin-top: 7%;
}

.rightside-footer {
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin-top: 20%;
  color: black;
  font: 5px;
}

.footerImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 400px;
  z-index: -2;
  overflow: hidden;
  object-fit: cover;
}
