.footer-container {
  background-color: #89cff0;
  color: #3b3a30;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: end;
  max-width: 1300px;
  width: 100%;
  flex-wrap: wrap;
}

.leftside-footer {
  display: flex;
  align-items: center;
  padding: 7px;
}

/* .logo {
  display: flex;
} */

.footerverse {
  font-family: sans;
  align-items: end;
  padding-left: auto;
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
  max-width: 800px;
}

.bible-reference {
  font-weight: bold;
}

.rightside-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.footer-links {
  display: flex;
  font-weight: bold;
  gap: 15px;
  margin-bottom: 5px;
}

.footer-links a {
  color: #3b3a30;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #ccc;
}

.footer-text {
  font-size: 14px;
  margin-bottom: 10px;
}
