@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

.footer-container {
  font-family: "Inter", sans-serif;
  display: grid;
  max-width: 1600px;
  grid-template-columns: repeat(4, 1fr) 500px;
  gap: 8px;
  color: rgba(179, 12, 12, 0.655);
  z-index: 2;
}

.leftside-footer {
  grid-column: 1 / 2;
  padding: 20px;
}

.footerverse {
  grid-column: 2 / 3;
  font-family: serif;
  font-style: italic;
  font-size: 16px;
  color: #3b3a30;
  width: 100%;
}

.footerImage {
  position: absolute;
  width: 100vw;
  height: 350px;
  z-index: -1;
  overflow: hidden;
  padding: 5px;
  gap: 20px;
}

.rightside-footer {
  display: flex;
  flex-direction: column;
}

.policy {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

footer a {
  color: #000; /* Default link color */
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline; /* Underline on hover */
}
