@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header Container */
.header-container {
  font-family: "Inter" sans-serif;
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  position: relative;
  width: 100%;
  height: auto; /* Allow dynamic height based on content */
}

/* Header Image (background) */
.headerimage {
  position: relative;
  width: 100%;
  height: 400px; /* Adjust the height as needed */
  object-fit: cover; /* Make sure the image covers the area without stretching */
}

/* Logo and Text */
.header-logo {
  position: absolute;
  top: 20px;
  left: 10px;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.logo {
  max-width: 200px;
  height: auto;
}

.verse {
  margin-top: 40px;
  max-width: 600px;
  font-family: "Inter", sans-serif; /* Apply Inter font */
  font-style: italic;
  font-size: 1.2rem;
  font-weight: 400; /* Adjust weight if needed */
  text-align: center;
  color: #3b3a30; /* Adjust color if necessary */
}

/* Navigation Bar */
.navbar {
  position: absolute;
  font-size: 18px;
  top: 20px;
  right: 0;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5px;
  z-index: 10;
}

.navbar a {
  color: #3b3a30;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
}

.navbar a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Sign-In/Sign-Out */
.signIn {
  display: flex;
  gap: 5px;
}

.joinUs {
  background-color: #7bd4ff;
  color: #3b3a30;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.joinUs:hover {
  background-color: #7bd4ff;
}
