@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

.header-container {
  font-family: "Inter", sans-serif;
  display: grid;
  max-width: 1600px;
  grid-template-columns: repeat(5, 1fr);
  grid-column: 1 / 4;
  margin: auto;
  gap: 5px;
  color: rgba(179, 12, 12, 0.655);
  z-index: -2;
}

.headerimage {
  position: absolute;
  width: 100vw;
  height: 500px;
  z-index: -2;
  overflow: hidden;
  padding: 10px;
}

.left-header {
  display: grid;
  grid-template-columns: minmax(1fr, 2fr);
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  gap: 5px;
  align-items: center;
  font-family: "AG verse";
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
}

.navbar {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column: 3 / 6;
  grid-row: 1 / 6;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  font-weight: bold;
}

.navbar a {
  text-decoration: none;
  color: #3b3a30;
}

.navbar a:hover {
  color: #bc5a45;
}
.signIn {
  display: grid;
  grid-column: 6;
  grid-row: 1;
  font-size: 16px;
  cursor: pointer;
}

.joinUs {
  display: grid;
  background-color: #007bff;
  justify-content: center;
  font-size: 14px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.verse {
  grid-column: 50 / span 10;
  grid-row: 3;
  align-items: space-between;
  font-family: serif;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
}

@media (max-width: 800px) {
  .header-container {
    padding: 20px;
  }
}
