@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

.header-container {
  font-family: "Inter", sans-serif;
  display: grid;
  max-width: 1600px;
  grid-template-columns: repeat(5, 1fr);
  grid-column: 1 / 5;
  gap: 8px;
  color: rgba(179, 12, 12, 0.655);
  z-index: -2;
}

.headerimage {
  position: absolute;
  /* width: 100vw; */
  width: 100%;
  height: 500px;
  z-index: -2; /* to place the image behind the content */
  overflow: hidden; /* to prevent the image from overflowing the screen */
  padding: 5px; /* padding to prevent the image from touching the edges of the screen */
}

.left-header {
  display: grid;
  grid-template-columns: minmax(1fr, 2fr);
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  gap: 7px;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
}

.navbar {
  display: grid;
  position: relative;
  grid-template-columns: minmax(1fr, 2fr); /* to make the navbar responsive */
  grid-column: 3 / 6;
  grid-row: 1; /* to place the navbar at the top of the screen */
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  gap: 15px;
  font-size: 16px;
  font-weight: bold;
}

.navbar a {
  text-decoration: none;
  color: #3b3a30;
}

.navbar a:hover {
  color: #bc5a45;
}

.signIn {
  display: grid;
  grid-column: 6;
  grid-row: 1;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}

.joinUs {
  display: grid;
  background-color: #007bff;
  justify-content: center;
  font-size: 14px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.verse {
  display: grid;
  grid-template-columns: minmax(100px, 1fr);
  grid-column: 5 / 6;
  grid-row: 12;
  margin: 0 auto;
  align-items: center;
  font-family: serif;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
}

@media (max-width: 800px) {
  .header-container {
    padding: 20px;
  }
}
