@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

.hero-container {
  display: grid;
  position: relative;
  width: 95%;
  max-width: 1600px;
  grid-template-columns: minmax(300px, 1fr); /* modification not needed */
  grid-column: 1;
  margin: 150px auto;
  gap: 5px;
  padding-bottom: 80px;
  color: #8b4513;
}

.main-content {
  font-family: "Inter";
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column: 1 / -1;
  line-height: 50px;
  text-align: left;
  gap: 2px;
  padding: 5px;
  font-size: 1.2rem;
}

.h1 {
  grid-column: 1 / -1;
}

.intro {
  font-size: 20px;
}

.faith-image {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  width: 100%;
  height: 70%;
  overflow: hidden;
  border-radius: 15px;
  object-fit: cover;
}

.Statement-of-Faith {
  position: absolute;
  top: 35%;
  left: 42%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  text-align: center;
  font-size: 20px;
  z-index: 10;
}

.image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* modification not needed */
  grid-template-rows: repeat(2, 1fr);
  position: relative; /* key to the overlay */
  width: 500px; /* no need to modify */
  height: 300px; /* no need to modify */
  margin-left: 100px auto; /* no need to modify */
  gap: 20px;
}

.image-overlay {
  position: relative;
  grid-column: 1 / 2;
  border-radius: 15px;
  width: 500px;
  height: 300px; /* Adjust as needed */
  object-fit: cover;
  margin-bottom: 20px;
}

.text-overlay {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #3b3a30;
  text-align: left;
  font-size: 18px;
  width: 85%;
  z-index: 2;
}

.hero-image {
  grid-column: 3 / 5;
  width: 500px;
  height: 300px;
  position: relative;
  border-radius: 15px;
  object-fit: cover;
  margin-bottom: 20px;
}

.bible-study {
  grid-column: 3 / 5;
  grid-row: 2 / 3;
  width: 500px;
  height: 300px;
  position: relative;
  border-radius: 15px;
  object-fit: cover;
  margin-bottom: 20px;
}

/* Small screens (tiny phones) */
@media (max-width: 480px) {
  .hero-container {
    padding: 10px;
    text-align: center;
  }
}
