.hero-container {
  display: grid;
  position: relative;
  width: 100%;
  max-width: 1300px;
  grid-template-columns: repeat(2, 1fr);
  /* padding-bottom: 380px; */
  gap: 25px 5px;
  color: #8b4513;
  /* border: 10px solid red; */
  margin: 0 auto;
  margin-left: 2%;
  margin-bottom: 2%;
}

.title {
  font-family: "Inter";
  /* display: grid;
  grid-template-columns: repeat(2, 1fr); */
  grid-column: 1 / 2;
  line-height: 50px;
  text-align: center;
  /* grid-gap: 20px; */
  font-size: 1.9rem;
  padding: 0.8rem;
  /* border: 5px solid blueviolet; */
}

.text {
  font-size: 20px;
  grid-column: 2 / -1;
  padding: 1.2rem;
  text-align: left;
  max-width: 700px;
  /* border: 5px solid indigo; */
}

.faith-image {
  display: block;
  grid-column: 1 / -1;
  width: 100%;
  max-width: 1210px;
  /* height: 70%; */
  overflow: hidden;
  border-radius: 15px;
  object-fit: cover;
  margin: 0.6rem;
  /* border: 5px solid blue; */
}

.Statement-of-Faith {
  position: absolute;
  top: 20%;
  left: 40%;
  text-decoration: none;
  color: whitesmoke;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  z-index: 10;
}

.image-overlay {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  /* justify-self: start; */
  margin-left: 0.6rem;
  width: 580px;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
  position: relative;
  /* border: 5px solid turquoise; */
}

.text-overlay {
  position: absolute;
  top: 60%;
  left: 2%;
  transform: translateY(-60%);
  color: #3b3a30;
  text-align: left;
  width: 75%;
  z-index: 35;
  margin-left: 0.75rem;
  max-width: 550px;
}

.content1 {
  font-size: 1.7rem;
}

.content2 {
  font-size: 20px;
}

.hero-image {
  grid-column: 2 / 3;
  width: 580px;
  height: 300px;
  justify-self: start;
  border-radius: 10px;
  object-fit: cover;
  /* border: 5px solid green; */
}

.GetInTouch {
  width: 580px;
  height: 300px;
  justify-self: start;
  margin-left: 0.6rem;
  background-color: grey;
  grid-column: 1 / 2;
  border-radius: 10px;
  /* margin-bottom: 15px; */
  /* border: 5px solid yellow; */
}

.bible-study {
  grid-column: 2 / 3;
  border-radius: 10px;
  width: 580px;
  height: 300px;
  justify-self: start;
  object-fit: cover;
  /* margin-bottom: 15px; */
  /* border: 5px solid orange; */
}

.image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  width: 600px;
  height: 300px; /* no need to modify */
  margin-left: 5px; /* no need to modify */
  margin-top: -190px;
  gap: 10px;
}

@media (max-width: 600px) {
  .hero-container {
    grid-template-columns: 1fr; /* Stack items in one column */
    text-align: center;
    padding: 20px 5%;
    margin-top: 10%;
  }
}
