.newEventForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px auto;
  gap: 0.5rem;
  border: 2px solid #111517;
}
.DetailsBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
