@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
.welcome-title {
  width: 80%;
  max-width: 750px;
  text-align: center;
  background-color: #a1e3f9;
  font-size: 2rem;
  font-weight: 600;
  color: #007bff;
  margin: 1.5rem auto;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "Inter", sans-serif;
  text-shadow: 1px 1px 2px #fff;
  transition: all 0.3s ease;
}

.infoset-1,
.infoset-2 {
  border: none;
  margin: 0 auto;
  padding: 1.1rem 0;
}

.infoset-2 {
  margin-top: 1rem;
}

.userregformcaption {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #555;
  border-radius: 5px;
  margin: 0 auto;
  padding: 0.8rem;
}

.userinfo {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  width: 80%;
  max-width: 750px;
  margin: 0 auto;
  padding: 1rem;
}

/* select {
  padding: 0.8rem 0.3rem;
  border: solid 3px #6555de;
  border-radius: 5px;
  background-color: #e5d9f2;
} */

input:hover,
select:hover {
  box-shadow: 3px 3px 5px #a2a2a4;
}

.submit-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.6rem;
  /* margin: 1.2rem 0; */
}

.userdetails-button {
  display: block;
  height: auto;
  width: 80%;
  max-width: 750px;
  padding: 0.8rem 0;
  margin: 1.2rem auto;
  background-color: #a1e3f9;
  color: #555;
  font-family: "Inter", sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  border: solid 1.5px #007bff;
  border-radius: 5px;
  cursor: pointer;
}

.userdetails-button:hover {
  background-color: #a5a5a9;
  color: #ffffff;
  box-shadow: 3px 2px 5px #a2a2a4;
}
