.userinfo {
  /* background-color: #dbcbbd; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  max-width: 50%;
  margin: 0 auto;
  padding: 1rem;
}

input,
select {
  padding: 0.8rem 0.3rem;
  border: solid 3px #6555de;
  border-radius: 5px;
  background-color: #e5d9f2;
}

input:hover,
select:hover {
  box-shadow: 3px 3px 5px #a2a2a4;
}

fieldset {
  border: none;
  padding-top: 5%;
}

.caption {
  margin: 0 auto;
  margin-top: 1rem;
}

.submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.2rem;
}

.userdetails-button {
  height: 60px;
  width: 250px;
  padding: 10px 20px;
  background-color: #cdc1ff;
  color: rgba(56, 55, 54, 0.708);
  font-family: "Times New Roman", Times, serif;
  font-size: x-large;
  font-weight: 800;
  border: solid 3px #6555de;
  border-radius: 5px;
}

.userdetails-button:hover {
  background-color: #a5a5a9;
  color: #ffffff;
  box-shadow: 3px 2px 5px #a2a2a4;
}
